<!DOCTYPE html>
<html>
  <head>
    <title>JsWebpackerDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div>
    <%= yield %>
  </body>
</html>

<script>
// console.log("bbb")
// let bb = '456'
</script>
